<div class="wrapper-news-banners"
    <div class="news-banners">
            <div class="news-banners__container container">
                <div class="latest-news">
                    <p class="latest-news__header">Latest News</p>
                    <div class="latest-news__new">
                        <div class="latest-news__picture ">
                            <img src="img/design-engineer.png" alt="" />
                            <div class="latest-news__date">
                                <div><p>Jan</p></div>
                                <div><p>23</p></div>
                            </div>
                        </div>
                        <div class="latest-news__article ">
                            <p class="latest-news_text--header">Advanced Machinery Helps Improve Quality</p>
                            <p class="latest-news_text--subheader"><span>by&nbsp;</span><span>cmsmasters</span>&nbsp;&nbsp;<span>Comments (</span><span>6</span><span>)</span></p>
                            <p class="latest-news_text--content">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et_news-elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                        </div>
                    </div>
                    <div class="latest-news__new">
                        <div class="latest-news__picture ">
                            <img src="img/electrical-engineer-720.png" alt="" />
                            <div class="latest-news__date">
                                <div><p>Jan</p></div>
                                <div><p>21</p></div>
                            </div>
                        </div>
                        <div class="latest-news__article position_right">
                            <p class="latest-news_text--header">Powerful Techniques for Advanced Service</p>
                            <p class="latest-news_text--subheader"><span>by&nbsp;</span><span>cmsmasters</span>&nbsp;&nbsp;<span>Comments (</span><span>3</span><span>)</span></p>
                            <p class="latest-news_text--content">Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
                        </div>
                    </div>
                </div>
                <div class="banners-place">
                    <p class="banners__header">Banners Place</p>
                    <div class="banners__accordion">
                        <div class="accordion__panel panel__active">
                            <div class="panel__header">
                                <div class="panel__toggle panel" >-</div>
                                <div class="panel__title panel">ACCORDION PANEL 1</div>
                            </div>
                            <div class="panel__description">
                                Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
                            </div>
                        </div>
                        <div class="accordion__panel">
                            <div class="panel__header">
                                <div class="panel__toggle">+</div>
                                <div class="panel__title">ACCORDION PANEL 2</div>
                            </div>
                            <div class="panel__description">
                                Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique
                            </div>
                        </div>
                        <div class="accordion__panel">
                            <div class="panel__header">
                                <div class="panel__toggle">+</div>
                                <div class="panel__title">ACCORDION PANEL 3</div>
                            </div>
                            <div class="panel__description">
                                Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.
                            </div>
                        </div>
                        <div class="accordion__panel">
                            <div class="panel__header">
                                <div class="panel__toggle">+</div>
                                <div class="panel__title">ACCORDION PANEL 4</div>
                            </div>
                            <div class="panel__description">
                                Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
</div>