<div class="wrapper-servies">
		<div class="servies">
		<h2>Our Services</h2>

		<a href="">
				<figure>

			<img src="img/Schedule-Services.jpg">
			<figcaption>
				 Schedule Services
			</figcaption>

			</figure>
		</a>
		<a href="">
			<figure>

			<img src="img/machine.jpg">
			<figcaption>
				Preventive Maintence
			</figcaption>

		</figure>
		</a>
		<a href="">
		<figure>

			<img src="img/tire2.jpg">
			<figcaption>
				Tire & Wheel Services
			</figcaption>

		</figure>
		</a>
		<a href="">
		<figure>

			<img src="img/servies.jpg">
			<figcaption>
				Repair Services
			</figcaption>

		</figure>
		</a>

		<div class="clearfix"></div>

		</div>
	</div>