 <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/slide1.jpg"></div>
            <div class="swiper-slide"><img src="img/slide2.jpg"></div>
            <div class="swiper-slide"><img src="img/slide3.jpg"></div>
            <!-- <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div> -->
           <!--  <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div> -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>


    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
    </script>