<div class="wrapper-about">
	<div class="footer-about">
		<a href="#map" id="toggle"  title="Показать карту" >
		 <i class="fa fa-map-marker" ></i>
		<span class="location">BuildHomeLtd.  Street Name 123   23 45 Cityname</span></a>
		<i class="fa fa-mobile"></i>
		<a href="tel:123 900 123 456"><span class="iphone">+123 900 123 456</span></a>

		<a href="mailto:info@buildhome.web">
		<i class="fa fa-envelope-o"></i>
		<span class="email">info@buildhome.web</span>
		</a>
		<span class="about">© 2014 Build Home</span>
	</div>
	<p class='map'>
            <div id="map" ></div>
        </p>

</div>
