.header {
	margin: 0 auto;
	width: 1240px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.sozlink {
	float: right;

}
.sozlink a {
	margin-left: 17px;
}
.fb:hover {
	background-image: "url:img/facebook-hover.png"
}