.logo {
	margin: 0 auto;
	width: 1240px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 90px;
	padding-bottom: 90px;
}
.logo a {
	width: 190px;
}
.logo img {
	text-align: center;
	display: inline-block;
	padding: 18px;

}