article {
  width: 1240px;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 87px;
}
.article-number,
.article-content {
  float: left;
}
.article-number {
   font-size: 40px;
   font-weight: bold;
   color: #d3d3d3;
   width: 25%;
   padding-right: 45px;

   span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
   }
}
.article-content {
  width: 75%;
    a{
      color: #2a2b2e;
      font-size: 13px; /* Приближение из-за подстановки шрифтов */
      font-weight: 500;
      line-height: 20px; /* Приближение из-за подстановки шрифтов */
      text-align: left;
      text-decoration: none;

      &:hover {
        color: blue;
      }
     span {
        color: blue;
        font-weight: bold;
        padding-left: 10px;
        font-size: 16px;
        vertical-align: middle;

      }

   }
}
.article-item {
   font-family: "Ubuntu", arial;
   width: 33%;
   float: left;
  }
.article-item:nth-of-type(3) {
	margin-left: 0;
}
.article-content h3 {
	font-size: 20px;

  	color: rgb(42, 43, 46);
  	line-height: 1;
  	text-align: left;
    margin-bottom: 27px;

  }
  .article-content p {
   font-size: 13px;

  color: rgb(138, 138, 138);
  line-height: 1.538;
  text-align: left;
  margin-bottom: 22px;
   padding-right: 27px;

    }
.article-content-img {
  display: block;
  margin-bottom: 18px;
}
 .settings,
 .truck,
 .params {
  background: url('../img/sprites.png') no-repeat;
 }
 .settings{
  background-position: -159px -14px ;
  width: 32px;
  height: 32px;

}
.truck{
  background-position: -204px -16px ;
  width: 32px;
  height: 26px;
}

.params{
  background-position: -250px -10px ;
  width: 32px;
  height: 32px;
}