.wrapper-news-banners {
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7;
  width: 100%;
  margin-bottom: 88px;
}
.news-banners__container {
  width: 1240px;
  margin: 0 auto;
}

.latest-news {
  margin-top: 66px;
  float: left;
  width: 50%;
  }

.latest-news__header {
  font-family: Arial,sans-serif;
  font-size: 24px;
  color: #2a2d32; }

.latest-news__new {
  margin-top: 25px;
  height: 152px; }

.latest-news__new:first-of-type {
  margin-top: 46px; }

.latest-news__picture {
  position: relative;
  margin-top: -2px;
float: left;
  img {
    width: 152px;
    height: 152px;
     }
   }

.latest-news__date {
    width: 40px;
    height: 80px;
    position: absolute;
    top: 16px;
    left: -20px;
  }
.latest-news__date div {
    height: 40px;
    position: relative;
  }
.latest-news__date div p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
 }

  .latest-news__date div:first-child {
    background-color: #248cec; }
  .latest-news__date div:last-child {
    background-color: #f4b60d; }

.latest-news__article {
  width: 380px;
  margin-left: 30px;
float: left;}

.latest-news_text--header {
  font-family: Arial,sans-serif;
  font-size: 16px;
  color: #616367;
  margin-top: 5px;
  cursor: pointer; }

.latest-news_text--subheader {
  font-family: Arial,sans-serif;
  font-size: 13px;
  margin-top: 9px; }
  .latest-news_text--subheader span:nth-child(odd) {
    color: #9d9d9d; }
  .latest-news_text--subheader span:nth-child(even) {
    color: #0187f4; }

.latest-news_text--content {
  font-family: Arial,sans-serif;
  font-size: 13px;
  color: #8a8a8a;
  margin-top: 27px;
  line-height: 1.5; }

.banners-place {
  margin-top: 66px;
  margin-bottom: 80px;
float: right;
width: 50%;}

.banners__header {
  font-family: Arial,sans-serif;
  font-size: 24px;
  color: #2a2d32;
width: 560px;
float: right;}

.banners__accordion {
  margin-top: 42px;
float: right;}

.accordion__panel {
  width: 560px;
  padding: 1px; }

.panel__header {
  height: 40px;
  background-color: #fff;
  border: 1px solid lightgray;
  font-family: 'Arial',sans-serif;
  font-size: 13px; }

.panel__toggle {
  display: inline-block;
  width: 38px;
  height: 40px;
  text-align: center;
  border-right: 2px solid lightgray;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 2;
  cursor: pointer; }

.panel__title {
  display: inline-block;
  padding-left: 10px;
   cursor: pointer;
}

.panel__description {
  padding: 10px;
  margin: 20px 5px 20px 30px;
  color: #8a8a8a;
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 1.35; }

.panel__active .panel__header {
  background-color: #f4b60d;
  border: 0;
  color: #fff; }

.panel__active .panel__toggle {
  border-right: 1px solid white;
  color: #fff; }
