.wrapper-about {
	background-color: #35383c;
	margin: 0 auto;

}
.wrapper-footer,
.wrapper-servies {
	background-color:  #2a2d32;
}
.footer-about {
	background-color: #35383c;
	padding-left: 40px;
	padding-right: 40px;
	height: 60px;
	margin: 0 auto;
	width: 1240px;
	padding-top: 20px;
}
.footer-about span {
  font-size: 12px;
  font-family: "Arial";
  color: #7d8082;
  line-height: 1.667;
  }
 .location {
 	padding-right: 20px;
 }
 .iphone {
 	padding-right: 40px;
 }
.email {
	padding-right: 416px;
}